//fontes
$fonte: 'Roboto', sans-serif;

//cores
$cor-primaria: #453C67;
$cor-segundaria: #6D67E4;
$cor-terciaria: #F2F7A1;
$cor-extra: #F7E1AE;
$cor-extra2: #FF8400;

//tamanho das fontes
$tamanho-do-texto: 3rem;
